*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Dr.Mind/.classpath
Dr.Mind/.project

.idea/
out/

Dr.Mind/project.properties

Dr.Mind/project.properties

*.properties
